<div class="card border-primary mb-3 blog-item">

  <div class="card-body" *ngIf="big">
    <h4 class="card-title">
      <a routerLink="/blog/{{blog.slug}}" routerLinkActive="active">
        {{ blog.title }}
      </a>
    </h4>
    <h6 class="card-subtitle mb-2 text-muted">
      {{ blog.creation_date | date: 'MM/dd/yy' }}
    </h6>
  </div>

  <div class="card-body blog-item-small text-truncate" *ngIf="!big">
    <a routerLink="/blog/{{blog.slug}}" routerLinkActive="active">
      {{ blog.title }}
    </a> - {{ blog.creation_date | date: 'MM/dd/yy' }}
  </div>
</div>
